In [1]:
class A:
    pass

In [2]:
a = A()

In [4]:
a.name = 'ajay'

In [5]:
a.name

'ajay'

In [6]:
a.age = 25

In [8]:
a.age

25

In [1]:
class Employee:
    """this is the employee class
    thanx for using my thi class"""
    
    leave = 5
    _something = 10
    __anything = 4
    
    def __init__(self,name,salary,work):
        self.name = name
        self.salary = salary
        self.work  = work
        
   # def __repr__(self):
    #    return "{}\n{}\n{}".format(self.name,self.salary,self.work)
    
    def __str__(self):
        return "{}\n{}\n{}".format(self.name,self.salary,self.work)
    
    def set_leave(self,num):
        self.leave = num
        
    def set_salary(self,sal):
        self.salary = sal

In [2]:
sahil = Employee('sahil',40000,'dj')

In [3]:
sahil

In [43]:
print(sahil)

sahil
40000
dj

In [44]:
sahil.leave

5

In [45]:
sahil.set_leave(10)

In [46]:
sahil.leave

10

In [4]:
mohit = Employee('mohit',50000,'it')

In [6]:
print(mohit)

mohit
50000
it

In [8]:
mohit.leave = 10

In [9]:
mohit.leave

10

In [47]:
ajay = Employee('ajay',20000,'python')

In [48]:
ajay

In [49]:
print(ajay)

ajay
20000
python

In [50]:
ajay.leave

5

In [53]:
class Human(Employee):
    pass

In [55]:
t = Human('yogi',40000,'ubuntu')

In [56]:
t

In [57]:
print(t)

yogi
40000
ubuntu