In [1]:
print('hello world')

hello world

In [2]:
range(1,11)

range(1, 11)

In [3]:
for var in range(1,10):
    print(var)

1
2
3
4
5
6
7
8
9

In [4]:
a= 5

In [5]:
def greet(name):
    print('hllo '+name+' Good morning')

In [6]:
greet('ajay')

hllo ajay Good morning

In [7]:
def greeting(name):
    print('hello to this world {}'.format(name))

In [8]:
greeting('sachin')

hello to this world sachin

In [9]:
def add(x,y):
    return x + y

In [10]:
add(5,7)

12

In [12]:
add('hello','world')

'helloworld'

In [15]:
add([1,2,3,4,5],[8,7,6,5,4,4])

[1, 2, 3, 4, 5, 8, 7, 6, 5, 4, 4]

In [18]:
def addd(x,y):
    print('addtion of x+y :',x+y)
    return 'its done'
    print('hello world')

In [19]:
addd(5,6)

addtion of x+y : 11

'its done'

In [22]:
def even_odd(num):
    if num % 2== 0:
        return 'even'
    else:
        return 'odd'

In [23]:
even_odd(9)

'odd'

In [17]:
def count(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [18]:
import random

In [19]:
rand = [ random.randint(1,100) for var in range(20)]

In [20]:
rand

[40, 24, 76, 36, 58, 87, 65, 40, 43, 36, 63, 58, 95, 11, 55, 15, 57, 2, 89, 80]

In [23]:
count(rand,40)

In [24]:
print(rand)

[24, 76, 36, 58, 87, 65, 43, 36, 63, 58, 95, 11, 55, 15, 57, 2, 89, 80]

In [25]:
def ccount(word,item):
    lettercount = 0
    for var in word:
        if item == var:
            lettercount += 1
    return lettercount

In [26]:
ccount('banana','a')

3

In [29]:
def ncount(word,item):
    lettercount = 0
    print(word)
    for var in word:
        if var == item:
            print("^",end='')
            lettercount += 1
        else:
            print(' ',end='')
    return lettercount

In [30]:
ncount('banana','a')

banana
 ^ ^ ^

3

In [31]:
def con(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)

In [32]:
a = [4,5,6,4,5,6,3,2,3,4,6,6,5,4,4,4,4]

In [33]:
con(a,4)

In [34]:
print(a)

[5, 6, 5, 6, 3, 2, 3, 6, 6, 5]

In [43]:
n = 100

In [44]:
def avg(num):
    global n
    n = len(num)
    c = sum(num)
    return c

In [45]:
t = avg(a)

In [48]:
t/n

4.7

In [49]:
n

10

In [50]:
def lcount(word,item):
    lettercount = 0
    for var in word:
        if var == item:
            lettercount += 1
    return lettercount

In [51]:
lcount('banana','a')

3

In [52]:
def acount(word,item):
    lettercount = 0
    print(word)
    for var in word:
        if var == item:
            print('^',end='')
            lettercount +=1
        else:
            print(" ",end='')
    return lettercount

In [53]:
acount('banana','a')

banana
 ^ ^ ^

3

In [54]:
def add(x,y):
    return x+y

In [58]:
add(5,6,7)

TypeError: add() takes 2 positional arguments but 3 were given

# Types of argument
* postitional argument
* default argument
* keyword argument
* variablelen argument

In [67]:
def add(x,y=0,z=0): # default argument
    return x+y+z

In [62]:
a = int(input())
b = int(input())
c = int(input())

t = add(a,b,c)
print(t)

5
6
7
18

In [63]:
add(5,6)

11

In [66]:
add(z = 6,x = 6,y = 8)

20

In [71]:
# positional argument
add(z=7,y=9,x=5)  # default argument

21

# keyword argument

* --> keyword argument like items in a sequence    as tupple
** --> dictionary items                            as dictionary

In [72]:
def m_sum(*args):
    r = 0
    for var in args:
        r = r + var
    return r

In [73]:
m_sum(1,2,3,4,5,6,7,8,9,10)

55

In [74]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [75]:
def func(*args):
    if len(args) == 1:
        print('line')
    elif len(args) == 2:
        print('parrelel line')
    elif len(args) == 3:
        print('triangle')
    elif len(args) == 4:
        print('square')
    elif len(args) == 5 :
        print('pollygone')
    elif len(args) == 0:
        print('thanx for using')
    else:
        print('pollygone')

In [76]:
func()
func(1)
func(1,2)
func(1,2,3)
func(1,2,3,4)
func(1,2,3,4,5)
func(1,2,3,4,5,6)

thanx for using
line
parrelel line
triangle
square
pollygone
pollygone

In [77]:
def print_dic(**kwargs):
    for key,value in kwargs.items():
        print('{} == {}'.format(key,value))

In [78]:
print_dic(name='ajay',game='vicecity',age=23,city='ajmer')

name == ajay
game == vicecity
age == 23
city == ajmer

In [79]:
a = {'name':'python','creator':'guido van rossum','version':3.7,'grras':'python'}

In [80]:
print_dic(**a)

name == python
creator == guido van rossum
version == 3.7
grras == python

In [58]:
def fact(num):
    if num == 1:
        return 1
    else:
         return num*fact(num-1)

In [59]:
fact(5)

120

# Anonymous function

In [12]:
def add(x,y):
    return x+y

In [13]:
add(5,6)

11

In [14]:
s = lambda x,y : x+y

In [15]:
s(7,9)

16

In [17]:
l = [1,2,3,4,5,6,7]

In [18]:
s = list(map(lambda x : x*x,l))

In [19]:
s

[1, 4, 9, 16, 25, 36, 49]

In [24]:
t = list(map(lambda x : x*x,l))

In [25]:
t

[1, 4, 9, 16, 25, 36, 49]

In [26]:
p = list(map(lambda x : x**2,range(1,11)))

In [27]:
p

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
eve = list(map(lambda x: 'even' if x%2==0 else 'odd',p))

In [29]:
eve

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [31]:
num = int(input('enter a number :'))
if num%2==0:
    print('even')
else:
    print('odd')

enter a number :89
odd

In [32]:
eve_odd = lambda x: 'even' if x%2==0 else 'odd'

In [33]:
eve_odd(9)

'odd'

In [44]:
great = lambda x,y : 'x is greater' if x>=y else 'y is greater'

In [46]:
great(3,4)

'y is greater'

In [48]:
g = lambda x,y,z : 'x is greater' if x >=y and x>=z else \
            ('y is greater' if y >= z else 'z is greater')

In [49]:
g(4,5,6)

'z is greater'

In [51]:
g(6,5,3)

'x is greater'

In [52]:
import random
rand = [ random.randint(1,100) for var in range(20)]

In [53]:
rand

[83, 30, 8, 50, 61, 7, 13, 89, 40, 63, 19, 71, 37, 46, 75, 13, 24, 31, 1, 20]

In [54]:
even =  list(filter(lambda x : x%2==0,rand))

In [55]:
even

[30, 8, 50, 40, 46, 24, 20]

In [62]:
l = list(map(int,input().split()))
sq = list(map(lambda x:x*x ,l))
print(l,sq,sep='\n')

1 2 3 4 5 6 7 8 9 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
t = list(map(lambda x : x*x ,map(int,input('enter the value in , sep : ').split(','))))

enter the value in , sep : 1,2,3,4,5,6,7,8,9,10

In [64]:
t

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
odd = list(filter(lambda x : x%2 ,map(int,input().split())))
print(odd)

1 2 3 3 3 3 4 4 5 5 5 6 6 7 7 8 8  8 77 7  7 7 9 9 9 9 9
[1, 3, 3, 3, 3, 5, 5, 5, 7, 7, 77, 7, 7, 7, 9, 9, 9, 9, 9]

In [69]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
from functools import reduce

In [72]:
mysum = reduce(lambda x,y : x+y ,l)

In [73]:
mysum

55

In [74]:
mul = reduce(lambda x,y : x*y,rand)
print(mul)

41304765940379198449920000000